.subtitle{
    font-family: 'Aclonica';
    font-size: 18px;
    text-align: center;
}
.draggable-style-first-container{
    font-size: 12px;
    border: 2px solid;
    border-radius: 4px;
    background-color:#9196e2;
    margin: 5px;
    padding: 5px;
    min-height: 25px;
}
.draggable-style-second-container{
    font-size: 12px;
    border: 2px solid;
    border-radius: 4px;
    background-color:#a1ec90;
    margin: 5px;
    padding: 5px;
    min-height: 25px;
}
.show-in-row {
    margin-left: 10px;
    display: flex;
    flex-flow: row wrap;
    width: 500px;
    min-height: 25px;
}
.cross {
    color: #ff0011;
    font-size: 8px;
    font-weight: 900;
    margin-left: 5px;
}
